.contact-app{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-image: url("./pictures/computer_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .header-wrapper-contact{
        height: 100px;
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .typewriter-contact h1 {
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            animation: 
            typing .5s steps(40, end)
        }
        
        /* The typing effect */
        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
    
        .top-line-contact{
          animation: line 1.5s linear forwards;
          border-bottom:3px solid black;
          display:block;
          max-width: 110px;
        }
        .bottom-line-contact{
          animation: line 1.5s linear forwards;
          border-bottom:3px solid black;
          display:block;
          max-width: 110px;
        }
      
        @keyframes line {
          from {
            left:50%;
            width:0%;
          }
          to {
            left:20%;
            width:60%;
          }
        }
      
        h1{
          font-size: 30px;
        }
      }


    .gform{
        width: 60%;
        height: 650px;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    
        .small-input-wrapper{
            width: 90%;
            display: flex;
            align-items:center;
            justify-content: space-evenly;
    
    
            .small-input{
                height: 50px;
                width:  45%;
                font-size: 20px;
                font-family: 'Quicksand', sans-serif;
                color: black;
                background-color: white;
                border-radius: 8px;
                border: none;
                margin-right:5px;
                margin-left:5px;
                padding-left: 10px;

                &:focus{
                    outline: none;
                }

                &:focus::placeholder{
                    color: transparent;
                }
            }
        }
    
        .big-input-wrapper{
            width: 85%;
            height: 400px;
            display: flex;
            align-items:center;
            justify-content: center;
    
            .big-input{
                height: 350px;
                width:  93%;
                font-size: 20px;
                font-family: 'Quicksand', sans-serif;
                color: black;
                background-color: white;
                border-radius: 8px;
                border: none;
                padding-left: 10px;
                padding-top: 5px;

                &:focus{
                    outline: none;
                }

                &:focus::placeholder{
                    color: transparent;
                }
            }
        }
    
        .send-wrapper{
    
            .send{
                font-family: 'Quicksand', sans-serif;
                color: black;
                background-color: white;
                border: none;
                height: 40px;
                width: 80px;
                border-radius: 8px;
    
                &:hover{
                    background-color: rgba(255, 255, 255, .3);
                    cursor: pointer;
                }  
            }
        }
    }
    
    .info-holder{
        width: 80%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
        .email{
            a{
                color: white;
                font-size: 25px;
            }
        }
        
        .phone{
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            p{
                color: white;
                font-size: 25px;
            }
        }
    }

    .thank-message-wrapper{
        width: 60%;
        height: 650px;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;

        .thank-message{
            font-size: 25px;
            color: white;
        }
    }
}