.contact-app{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-image: url("./pictures/computer_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .header-wrapper-contact{
        height: 100px;
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        .top-line-contact{
          animation: line 1.5s linear forwards;
          border-bottom:3px solid black;
          display:block;
          max-width: 110px;
        }
        .bottom-line-contact{
          animation: line 1.5s linear forwards;
          border-bottom:3px solid black;
          display:block;
          max-width: 110px;
        }
      
        @keyframes line {
          from {
            left:50%;
            width:0%;
          }
          to {
            left:20%;
            width:60%;
          }
        }
      
        h1{
          font-size: 30px;
        }
      }

    .nav-wrapper-contact{
        padding-top: 3vh;
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;

        .nav-buttons-wrapper-contact{
        height: 50px;
        width: 75%;
        background-color: rgba(0, 0, 0, .3);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
        .nav-btn{
            width: auto;
            height: 45px;
            background-color: transparent;
            border: none;
            font-size: 14px;
    
            &:hover{
            cursor: pointer;
            transition: .2s;
            color: rgb(225, 225, 225);
            }
        }
        }
    
    }


    .gform{
        width: 60%;
        height: 650px;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        .small-input-wrapper{
            width: 85%;
            display: flex;
            align-items:center;
            justify-content: space-evenly;
    
    
            .small-input{
                height: 50px;
                width:  45%;
                font-size: 20px;
                font-family: 'Quicksand', sans-serif;
                color: black;
                background-color: white;
                border-radius: 8px;
                border: none;
            }
        }
    
        .big-input-wrapper{
            width: 85%;
            height: 400px;
            display: flex;
            align-items:center;
            justify-content: center;
    
            .big-input{
                height: 350px;
                width:  93%;
                font-size: 20px;
                font-family: 'Quicksand', sans-serif;
                color: black;
                background-color: white;
                border-radius: 8px;
                border: none;
            }
        }
    
        .send-wrapper{
    
            .send{
                font-family: 'Quicksand', sans-serif;
                color: black;
                background-color: white;
                border: none;
                height: 40px;
                width: 80px;
                border-radius: 8px;
    
                &:hover{
                    background-color: rgba(255, 255, 255, .3);
                    cursor: pointer;
                }  
            }
        }
    }
    
    .info-holder{
        width: 80%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
        .email{
            a{
                color: white;
                font-size: 25px;
            }
        }
        
        .phone{
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            p{
                color: white;
                font-size: 25px;
            }
        }
    }
}
