.gform{
    width: 60%;
    height: 650px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .small-input-wrapper{
        width: 85%;
        display: flex;
        align-items:center;
        justify-content: space-evenly;


        .small-input{
            height: 50px;
            width:  45%;
            font-size: 20px;
            font-family: 'Quicksand', sans-serif;
            color: black;
            background-color: white;
            border-radius: 8px;
            border: none;
        }
    }

    .big-input-wrapper{
        width: 85%;
        height: 400px;
        display: flex;
        align-items:center;
        justify-content: center;

        .big-input{
            height: 50px;
            width:  90%;
            font-size: 20px;
            font-family: 'Quicksand', sans-serif;
            color: black;
            background-color: white;
            border-radius: 8px;
            border: none;
        }
    }

    .send-wrapper{

        .send{
            font-family: 'Quicksand', sans-serif;
            color: black;
            background-color: white
        }
    }
}