.projects-app{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  background-image: url("./pictures/computer_background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  
  .header-wrapper-projects{
    height: 100px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .typewriter-projects h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      animation: 
        typing .5s steps(40, end)
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    .top-line-projects{
      animation: line 1.5s linear forwards;
      border-bottom:3px solid black;
      display:block;
      max-width: 120px;
    }
    .bottom-line-projects{
      animation: line 1.5s linear forwards;
      border-bottom:3px solid black;
      display:block;
      max-width: 120px;
    }
  
    @keyframes line {
      from {
        left:50%;
        width:0%;
      }
      to {
        left:20%;
        width:60%;
      }
    }
  
    h1{
      font-size: 30px;
    }
  }
  
  .flip-card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50%;
    width: 60%;
    align-content: flex-end;
    justify-items: center;
  }
  
  .flip-card {
    background-color: transparent;
    width: 225px;
    height: 225px;
    margin-top: 10px;
  }
  
  .flip-card-inner {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    h1{
      margin-bottom: 15px;
    }
  
    .card-img{
      height: auto;
      width: 80%;
    }
  }
  
  
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    a{
      text-decoration: none;
      color: white;
      border-bottom: 1px solid white;
      font-size: 25px;
    }
  }
}