*{
  margin: 0;
  padding: 0;
}

.home-app{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  background-image: url("./style/pictures/computer_background.png");
  // background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  .content-wrapper{
      width: 91%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 12vh;

    .typewriter-app h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      animation: 
        typing 1.5s steps(40, end)
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    // ANIMATED TOP LINE
    .top-line {
        animation: line 2.5s linear forwards;
        border-bottom:3px solid black;
        display:block;
        max-width: 475px;
    }
    
      //ANIMATED BOTTOM LINE
    .bottom-line {
        animation: line 2.5s linear forwards;
        border-bottom:3px solid black;
        display:block;
        max-width: 475px;
    }
      
    @keyframes line {
      from {
        left:50%;
        width:0%;
      }
      to {
        left:20%;
        width:60%;
      }
    }
    
    .typist-wrapper{
        padding: 15px;
  
        .typist-header{
            display: inline-block;
        }
    }
  }
}