@import "./style/app.scss";
@import "./style/projects.scss";
@import "./style/about.scss";
@import "./style/resume.scss";
@import "./style/contact.scss";
// @import "./style/media-queries.scss";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');